apps/
Procfile
.vagrant
.idea/
logs/
script/bin/.coverage
.DS_Store
.aptget/partial
.aptget/*.deb
.aptget/lock
.python-version
.vagrant/
Gemfile.lock
*~
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.project
*.pyc
*.iml
dev
htmlcov
.coverage
.sass-cache
build
dist
*.deb
*.egg-info

